* { /* variables */
    -background: #dee4e7;
    -opposite-to-background-color: black;
    -background-text-color: -opposite-to-background-color;
    -button-color: #282828;
}

.Panes {
	-fx-background-color: -background;
}

.split-pane:horizontal > .split-pane-divider {
	-fx-padding: 0.01;
	-fx-background-color: black;
}

.progress-bar {
	-fx-accent: #f5df4d;
}

.label {
    -fx-text-fill: -background-text-color;
}

.normal-text {
    -fx-fill: -background-text-color;
}

#welcome-line {
    -fx-stroke: -background-text-color;
}

.button {
	-fx-background-color: -button-color;
	-fx-text-fill: #e8e8e8;
}
.button:hover {
    -fx-background-color: derive(-button-color, 30%);
}

.warning {
    -fx-text-fill: gold;
}

/* Menu */
.menu-button {
	-fx-background-color: -background;
	-fx-text-fill: -background-text-color;
}
/* selected menu buttons look like normal buttons atm */
.selected-menu-button {
    -fx-background-color: -button-color;
}

.misc-menu-button {
    -fx-background-color: orange;
}
.misc-menu-button:hover {
    -fx-background-color: derive(orange, 30%);
}

.results {
    -fx-background-color: #0044ff;
    -fx-text-fill: #fafafa;
}
.results:hover {
    -fx-background-color: derive(#0044ff, 30%);
}

.selected {
    -fx-background-color: #77dbe5;
	-fx-text-fill: #300e4e;
}
.selected:hover {
    -fx-background-color: derive(#77dbe5, 30%);
}

/* GenreInfoWindow */
.text-area {
	-fx-text-fill: #fcfcfc;
}
.text-area .content {
	-fx-background-color: #272727;
}

/* https://gist.github.com/kinsleykajiva/ac452bc8280bc52be384e9af98f2ba0c */
.table-view .column-header .label {
    -fx-text-fill: black;
}

.choice-box .label {
    -fx-text-fill: black;
}

/* https://stackoverflow.com/a/44062472 */
.slider .axis {
    -fx-tick-label-fill: -background-text-color;
}
/* https://stackoverflow.com/a/16343529 */
.slider .axis .axis-tick-mark, .slider .axis .axis-minor-tick-mark {
    -fx-fill: null;
    -fx-stroke: -button-color;
}

/* SearchingScreen */
#searching-pane {
    -fx-background-color: white;
}

#searching-circle-box {
    -fx-border-color: -opposite-to-background-color;
}

.circle {
    -fx-fill: -opposite-to-background-color;
    -fx-stroke: #5f306e;
}

/* SettingsScreen */
.property-sheet .label {
    -fx-text-fill: black;
}
