.Panes {
	-fx-background-color: #484848;
}

.split-pane:horizontal > .split-pane-divider {
	-fx-padding: 0.01;
	-fx-background-color: black;
}

.progress-bar {
	-fx-accent: #F5DF4D;
}

.button {
	-fx-background-color: #282828;
	-fx-text-fill: #E8E8E8;
}
.MenuButton {
	-fx-background-color: #484848;
    -fx-text-fill: #E8E8E8;
}
.MenuButton:hover {
    -fx-background-color: #363434;
}
.SelectedMenuButton {
    -fx-background-color: #282828;
}
.Selected {
    -fx-background-color: #77DBE5;
	-fx-text-fill: #300E4E;
}
.Results {
    -fx-background-color: #0044FF;
    -fx-text-fill: #FAFAFA;
}

.Text-area {
	-fx-text-fill: #FCFCFC;
}
.Text-area .content {
	-fx-background-color: #272727;
}
